<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>co.hedge.quills</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/quills</string>
        <string>-no-browser</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/tmp/quills.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/quills.stderr.log</string>
</dict>
</plist>
